body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.black-block {
    background-color: black;
    padding: 64px;
    height: 200px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#img1 {
    background-image: url("https://er-static.s3.amazonaws.com/uploads/hosts/3be453edde07f8cd9f3884ccd2910c404fad5670.jpg");
    min-height: 100vh;
}

#img2 {
    background-image: url("https://i.ytimg.com/vi/7Hun8awCY3k/maxresdefault.jpg");
    min-height: 100vh;

}
